*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cambria";
}

.contenido{
    display: flex;
    width: 100%;
    height: 200px;
    border: 2px solid black;
    list-style: none;
    background-color: white;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.registros{
    display: flex;
    background-color: gray;
}