<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicio</title>
    <link rel="stylesheet" href="../../assets/css/Index.css">
    <link rel="shortcut icon" href="../../assets/img/home-icon.png" type="image/x-icon">
    <script defer src="../../assets/js/index.js"></script>
</head>
<body>
    <!-- Encabezado - header -->
    <header class="encabezado">
        <nav class="nav_encabezado">  
            <button class="icono-inicio">
                <img src="../../assets/img/home-icon.png">
            </button>      

            <ul class="ul-menu">
                <li class="nav-menu-item nav_link nav-menu-link"><a href="index.html">Inicio</a></li>
                <li class="nav-menu-item nav_link nav-menu-link"><a href="#">Portafolio</a></li>
                <li class="nav-menu-item nav_link nav-menu-link"><a href="#">Repositorios GitHub</a></li>
            </ul>
        </nav>

        <nav class="nav-registro">
            <ul class="ul-registro">
                <li class="nav-menu-item-registro nav_link nav-menu-link"><a href="../Login/Login.html">Iniciar sesión</a></li>
                <li class="nav-menu-item-registro nav_link nav-menu-link"><a href="../Register/Register.html">Registrarse</a></li>
            </ul>   

            <button class="icono-usuario">
                <img src="../../assets/img/user-icon.png">
            </button>  
        </nav>   
    </header>

    <!-- Contenido -->
    <div class="contenido">
        <h2>Contenido</h2>
    </div>

    <div class="pie_de_pagina">
        <div class="portafolio">
            <li>Portafolio</li>
        </div>

        <div class="contacto">
            <li>Información de contacto </li>
        </div>
    </div>
</body>
</html>